@media screen and (min-width:400px) {
    .findablePokemon {
        min-width:300px;
        position:fixed;
        left:50vw;
        top:10vh;
        z-index:3;

        h2{
            color:white;
            font-size:1.2rem;
        }
    }

}

@media screen and (min-width:1500px) {
    .levelOneImageContainer {
        align-items: center;
 
    }
    .findablePokemon {
        max-width:500px;
        left:clamp(1350px,calc(100vw - 18vw),1900px);
        top:10vh;
    }
}

form{
    padding:0;
    margin:0;
}
.leftToFindContainer{
    position: relative;
    h2{
        margin-left:1rem;
    }
    button{
        transform: translate(-50%,-50%);
        position:absolute;
        top:50%;
        left:90%;
        border-radius: 50%;
        border:none;
        transition: 1s background-color;
        &:hover{
            background-color: rgb(187, 187, 187);
        }
    }
}
.levelContainer{
    
    cursor:none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    //max-width:100%;
    min-width:800px;
    align-items: center;
    position: relative;
    min-height:calc(100vh - 96px);
  
}
.level1Image{
    height:auto;
    max-width:800px;
    object-fit: cover;
    object-position: center;
}
.levelOne{
    position: relative;
    min-width:800px;
    cursor:crosshair;
    margin-top:1rem;
    margin-bottom:1rem;
    min-height:752.31px;
}
.levelOneImageContainer{
    display:flex;
    flex-direction: column;
    
}
.levelFormSubmission{
    border-radius: 15px;
    outline: 1px solid hsl(0,0%,10.98%);
    overflow: hidden;
}
.overlay{
    position:absolute;
    z-index:100;
    width:100vw;
    height:100vh;
    background-color: rgba($color: #000000, $alpha: .3);
}
.imagesForm{
    display:flex;
    flex-direction: column;
    width:250px;
  

    img{
        max-width:60px;
  
    }
    button{
        width:100%;
        display:flex;
        margin:0;
        padding:0;
        align-items: center;
        font-weight:600;
        cursor:none;
        font-size:1.2rem;
    }
}

.findablePokemon{
    display:flex;
    flex-direction: column;
    background-color: hsla(0,0%,10.98%,.6);
    border-radius: 15px;
    transform: translate(-50%,-50%);

}

.findablePokemonImages{
    display:flex;
    justify-content: center;
    position: absolute;
    top:44px;

    background-color: rgb(29, 29, 29);
    border-radius: 15px;
    div{
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    img{
        height:auto;
        max-width:100px;
    }
}

